<div class="titlelogo-container">
  <p class="titlelogo">みんなの読書メモ</p>
</div>

<p class="how-to-use-navi">使い方ガイド</p>

<div class="how-to-use-container-container">
  <div class="how-to-user-container"><p class="bottom-like">プロフィール</p><p class="how-to-use">マッチング相手に表示されるプロフィールを編集できます。</p></div>
  <div class="how-to-user-container"><p class="bottom-like">スワイプ</p><p class="how-to-use">他ユーザーのメモをスワイプできます。</p></div>
  <div class="how-to-user-container"><p class="bottom-like">メモ帳</p><p class="how-to-use">お気に入りの一節をメモ出来ます。いいねしたメモを確認できます。</p></div>
  <div class="how-to-user-container"><p class="bottom-like">チャット</p><p class="how-to-use">マッチングした相手とチャットが出来ます。</p></div>
</div>

<div class="guide-to-add-container">
  <div class="onegai">ホーム画面への追加をお願いします。</div>
  <div class="chrome">
  <div class="browser">chromeの場合</div>
  <div class="browser-how-to">画面右上の設定アイコンを押し、ホーム画面へ追加をタップ</div>
  </div>
  <div class="Safari">
  <div class="browser">safariの場合</div>
  <div class="browser-how-to">画面下部の共有アイコンを押し、ホーム画面へ追加をタップ</div>
  </div>
</div>

<div class="campaign-container">
  <div class="campaign-info">現在開催中の献本キャンペーン</div>
</div>
