// Place all the styles related to the matching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.matchercontainer{
    text-align: center;
    color: #64C99B;
    border: solid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
}

.openchat{
    text-align: center;
    border-bottom: solid; border-color: #323232;
    border-top: solid; border-color: #323232;
    padding-bottom: 5px;
    padding-top: 5px;
    border-width: thin;
}

.match-title{
    padding-left: 5%;
}


.matchingheader{
    padding-bottom: 1.5%;
}

.matching-body{
    color:#323232;
}


.matcherlist{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    padding:5px;
}

.matchingPerson_name{
    text-align: center;
    font-weight: bold;
}

.match{
    border:solid; border-color: #323232;
    border-width: thin;
    padding: 5px;
}
