// Place all the styles related to the matching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.matchercontainer{
    text-align: center;
    margin-top: 10px;
    color: #64C99B;
    border: solid;
}

.openchat{
    padding-left: 3% ;
    text-align: center;
}

.matchingheader{
    display: flex;
}