// Place all the styles related to the reactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width: 480px) {

  .post{
      text-align: center;
      margin-top: 1vh;
      padding-top: 1vh;
      padding-bottom: 1vh;
      font-size: 1.5vw;
      border-bottom: solid;
      color: #64C99B;
    }

    .memo{
      color: #64C99B;
      border: solid;
      padding: 10px;
      font-size: 3vw;
    }

    .posted-navi{
      padding-left: 25%;
      font-size: 1.7vw;
      color: #64C99B;
    }

    .posted{
      float: left;
      width: 50%;
      padding-left: 5%;
    }

    .liked-navi{
      padding-left: 75%;
      font-size: 1.5vw;
      color: #64C99B;
    }

    .liked{
      padding-right: 5%;
    }

    .reac-container{
      color:#454545;
      margin: 3px;
      font-size: 1.7vh;
    }

    .page{
      font-size: 1.5vh;
    }


    .author{
      float: left;
    }

    .title{
      font-size: 1.2vw;
    }

}


@media screen and (max-width: 480px) {

    .post{
        text-align: center;
        margin-top: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        font-size: 1.5vw;
        color: #64C99B;
      }

      .memo{
        color: #64C99B;
        border: solid;
        padding: 10px;
        font-size: 4.5vw;
      }

      .posted-navi{
        font-size: 3.5vw;
        color: #64C99B;
        text-align: center;
      }

      .posted{
          a:visited { color:#64C99B; text-decoration:none }
          a:link {color:#64C99B; text-decoration:none }
      }

      .liked{
          a:visited { color:#64C99B; text-decoration:none }
          a:link {color:#64C99B; text-decoration:none }
      }

      .liked-navi{
        font-size: 3.5vw;
        color: #64C99B;
        text-align: center;
      }

      .page{
        font-size: 1.5vh;
      }


      .title{
        font-size: 3.5vw;
        text-align: center;
        padding-bottom: 5px;
      }

      .reac-container{
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: solid; border-color: #64C99B;
        color:#323232;
        font-size: 1.7vh;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 8px;
      }

      .sentencebox{
        padding-bottom: 5px;
        text-align: center;
        font-size: 3.3vw;
        font-weight: bold;
      }

      .plus{
        padding-bottom: 5px;
      }

      .publisher{
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .reac-sentences-subnavi{
        padding-left:5px;
      }


}
