// Place all the styles related to the sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width: 480px) {

  .sentence{
    width: auto;
    margin: 5% auto 0%;
    max-width: 500px;
    height: 50vh;
    text-align: center;
    font-size: 1vw;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding: 30px;
    line-height: 1.7;
    border: solid;
    border-width: thin;
  }

  .twitter{
    text-align: left;
  }


  .actions {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 15px auto;
      &.is-none {
        display: none;
      }
    }

    .color {
      color:#64C99B;
    }

    .twitter{
      width: 200px;
      margin: 15px auto;
    }
    .memo-submit{
      text-align: center;
      padding-top: 10px;
    }


  .quote-title{
    font-size: 1.5vw;
    }
  .quote-others{
    font-size: 1.5vw;
    }

}

@media screen and (max-width: 480px) {

  .sentence{
    width: auto;
    margin: 5% auto 0%;
    max-width: 500px;
    height: 50vh;
    text-align: center;
    font-size: 4.5vw;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding: 30px;
    line-height: 1.7;
    border: solid;
    border-width: thin;
  }

  .twitter{
    text-align: left;
  }


  .actions {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 15px auto;
      &.is-none {
        display: none;
      }
    }

    .color {
      color:#64C99B;
    }

    .twitter{
      width: 200px;
      margin: 15px auto;
    }
    .memo-submit{
      text-align: center;
      padding-top: 10px;
    }

    .quote-title{
      font-size: 1.5vw;
    }
    .quote-others{
      font-size: 1.5vw;
    }

}
