// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (min-width: 480px) {
  .titlelogo-container{
    text-align: center;
    color: #FFFFFF;
    background-color: #64C99B;
    font-size: 5.5vw;
  }

  .titlelogo{
    margin-top: 3%;
    margin-bottom: 0px;
  }

  .top-content{
    display: flex;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
  }


  .rank-container{
    text-align: center;
    padding-left: 2.5%;
  }

  .rank{
    font-size: 2vw;
  }

  .campaign-container{
    text-align: center;
  }

  .campaign-container{
    font-size: 2vw;
    padding-right: 2.5%;
  }

  .how-to-user-container{
    display: flex;
    margin:auto;
  }

  .how-to-use{
    font-size: 1vw;
    width: 50%;
  }

  .bottom-like{
    background-color: #64C99B ;
    color: #FFFFFF ;
    font-weight: bold ;
    font-size: 1.5vw;
    margin-right: 3%;
    width:15%;
    text-align: center;
    margin-left: 25%;
  }
}

@media screen and (max-width: 480px) {
  .titlelogo-container{
    text-align: center;
    color: #FFFFFF;
    background-color: #64C99B;
    font-size: 7vw;
  }

  .titlelogo{
    margin-top: 3%;
    margin-bottom: 0px;
  }

  .top-content{
    display: flex;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
  }


  .rank-container{
    text-align: center;
    padding-left: 2.5%;
    font-size: 2vw;
  }

  .rank{
    font-size: 2vw;
  }

  .campaign-container{
    text-align: center;
    font-size: 2vw;
    padding-right: 2.5%;
  }

  .how-to-user-container{
    margin:auto;
  }

  .how-to-use-container-container{
    padding-top:1.5%;
  }

  .how-to-use{
    font-size: 3vw;
    margin-right: 3%;
    margin-left: 3%;
    text-align: center;
  }

  .how-to-use-navi{
    font-size: 5vw;
    text-align: center;
    color: #64C99B ;
    margin-top:5%;
    margin-bottom:0%;
  }

  .bottom-like{
    background-color: #64C99B ;
    color: #FFFFFF ;
    font-weight: bold ;
    font-size: 4vw;
    margin-right: 3%;
    margin-left: 3%;
    text-align: center;
  }
}
