// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userAction_edit{
    display: inline-box;

}

.userAction_logout{
    display: inline-box;
}

.userActionlogo{
    color:#64C99B;
}

.userAction{
    display: inline-box;
    margin: auto ;
    margin-top: 1.5% ;
    padding: 0.5%;
    border: solid;
    color:#64C99B;
    width: 50%;
    
}

.usershowPage{
    padding-top: 2%;
    color:#323232;
}

