// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width: 480px) {

  .userAction_logout{
    margin-left: 10px;
  }

  .userActionlogo{
      color:#64C99B;
  }

  .userAction{
      display: inline-box;
      margin: auto ;
      margin-top: 1.5% ;
      padding: 0.5%;
      color:#64C99B;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
  }

  .usershowPage{
      padding-top: 2%;
      color:#323232;
  }

  .user-show-container{
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .userAction{
      margin: auto ;
      margin-top: 1.5% ;
      padding: 0.5%;
      color:#64C99B;
      width: 70%;
      font-size: 4vw;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .userAction_logout{
      margin-left: 10px;
  }
  .usershowPage{
      padding-top: 2%;
      color:#323232;
  }
  .user-show-container{
      text-align: center
  }
  .userAction_logout{

  }
  .userActionlogo{
      color:#64C99B;
  }
  .userinfop{
      font-size: 3vw;
  }
}
