.userInfo{
    text-align: center;
    font-size: 1vw;
}

.userInfo_selfIntroduction{
    text-align: center;
    font-size: 1vw;
}

.userAction{
    text-align: center;
    font-size: 1vw;
}

.userid{
    text-align: center;
    font-size: 1vw;
}